{% extends "layouts/index.html" %}

{% block content %}
<div class="products">
  <div class="container">
    <h2 class="text-center">Список товаров</h2>
    <div class="row">
      {% for product in products %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img src="/media/{{ product.image }}" class="card-img-top" alt="{{ product.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">Цена: {{ product.price }}</p>
            <p class="card-text">Рейтинг: {{ product.rate }}</p>
            <a href="/product/{{ product.id }}/" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
