{% extends "layouts/index.html" %}

{% block content %}
<div class="categories">
  <div class="container">
    <h2 class="text-center">Список категорий</h2>
    <div class="row">
      {% for category in categories %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img src="/media/{{ category.image }}" class="card-img-top" alt="Картинка категории">
          <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
            <a href="/category/{{ category.id }}/products/" class="btn btn-primary">Товары этой категории</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
