{% extends "layouts/index.html" %}

{% block content %}
<style>
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }

  .registration-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #0056b3;
  }
</style>

<div class="centered-container">
  <form action="/users/auth" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="form-input" type="submit" value="Логин">
  </form>
</div>
{% endblock %}
